@model DogShelterMvc.Models.MedicalEquipment

@{
    ViewData["Title"] = "Detail lékařského vybavení";
}

<h1>Detail lékařského vybavení</h1>

<div>
    <h4>@Model.MedicalName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
        <dt class="col-sm-2">Název</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.MedicalName)</dd>
        <dt class="col-sm-2">Počet</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Count)</dd>
        <dt class="col-sm-2">Sklad</dt>
        <dd class="col-sm-10">@(Model.Sklad?.Name ?? "Není přiřazen")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Upravit</a>
    <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
</div>

