@model IEnumerable<DogShelterMvc.Models.MedicalEquipment>

@{
    ViewData["Title"] = "Lékařské vybavení";
}

<h1>Lékařské vybavení</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Přidat nové vybavení</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.MedicalName)</th>
            <th>@Html.DisplayNameFor(model => model.Count)</th>
            <th>@Html.DisplayNameFor(model => model.Sklad)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.MedicalName)</td>
            <td>@Html.DisplayFor(modelItem => item.Count)</td>
            <td>@(item.Sklad?.Name ?? "Není přiřazen")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Upravit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detail</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>

