@model IEnumerable<DogShelterMvc.Models.Quarantine>

@{
    ViewData["Title"] = "Karantény";
}

<h1>Karantény</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Přidat novou karanténu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.BeginOfDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndOfDate)</th>
            <th>Délka (dny)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.BeginOfDate)</td>
            <td>@Html.DisplayFor(modelItem => item.EndOfDate)</td>
            <td>@((item.EndOfDate - item.BeginOfDate).TotalDays)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Upravit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detail</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>

