@model IEnumerable<DogShelterMvc.Models.User>

@{
    ViewData["Title"] = "Uživatelé";
}

<h1>Uživatelé</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Přidat nového uživatele</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Uname)</th>
            <th>@Html.DisplayNameFor(model => model.Perms)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Uname)</td>
            <td>@Html.DisplayFor(modelItem => item.Perms)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Upravit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detail</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>

