@model DogShelterMvc.Models.DogHistory

@{
    ViewData["Title"] = "Detail záznamu historie";
}

<h1>Detail záznamu historie</h1>

<div>
    <h4>Záznam #@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
        <dt class="col-sm-2">Datum události</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DateOfEvent)</dd>
        <dt class="col-sm-2">Popis události</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EventDescription)</dd>
        <dt class="col-sm-2">Pes</dt>
        <dd class="col-sm-10">@(Model.Pes?.Name ?? "Není přiřazen")</dd>
        <dt class="col-sm-2">Typ</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Typ)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Upravit</a>
    <a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>
</div>

